body{
	background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url("../images/vaccine.png");
	background-size: cover;
}

.title{text-align: center; grid-area: title; background-color: rgba(51, 204, 51, 0.7)}
#load{width:100%;}
#display{width:100%;}
#buttons{grid-area: buttons;}
#displayData{grid-area: displayData;}
#contentData{grid-area: contentData;}

@media (orientation: landscape) {
.mGridContainer{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
	grid-template-areas:
		"title title"
		"buttons buttons"
		"displayData contentData";
	 gap: 1%;
	}
#dateList, #buttons{
    display: grid;
	grid-template-columns: 1fr 1fr;
}
#displayData{height:20%; overflow: auto;}
}

@media (orientation: portrait) {
.mGridContainer{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
	grid-template-areas:
		"title title"
		"buttons buttons"
		"displayData displayData"
		"contentData contentData";
	 gap: 1%;
	}
#dateList{
    display: grid;
	grid-template-columns: 1fr 1fr;
}
}